/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  .StripeElement:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  .why{
    margin-bottom: 40px;
  }

  .why h3{
    font-weight: 300;
    margin-bottom: 25px;
  }

  .stripe h1,h2{
    margin-top: 20px;
    margin-bottom: 80px;
    font-weight: 300;
  }

  .image-secure img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px
  }

  .checkout{
    margin-bottom: 60px;
  }
  .checkout h2{
    margin-bottom: 40px;
    font-weight: 300;
  }