/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////// NavBar ////////////////////////////////////////////////////// */
.brand-logo{
    width: 80px;
  }

  .navbar{
    -webkit-box-shadow: 2px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 2px 0px 5px 1px rgba(0,0,0,0.75);
  }
  .navbar-light:hover .navbar-nav:hover .nav-link:hover {
    text-decoration: underline;
}

a:hover{
  text-decoration: none !important;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    background-color: #353b48;
    border-radius: 20px;
    padding: 0px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 150px;
    caret-color:#fff;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #282828;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }