/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////// Card Profil /////////////////////////////////////////////// */
.jumbotron-list {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/skyline.jpg");
  height: 200px;
  background-position-y: -345px;
  opacity: 2;
  color: #fff;
}
.card-profil-promoter{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 8px;
    padding: 20px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  }
  
  .card-profil-promoter img{
    border-radius: 8px;
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    border-radius: 140px;
  }
  
  .card-profil-promoter:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}


  .description{
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .description b{
    font-size: 23px;
  }
  
  .description h4{
    margin-top: 20px;
  }
  
  .line-hr{
    width: 14%;
    margin-left: 0px;
    border: 1px solid;
    margin-top: -5px;
  }
  
  .description li{
    list-style-type: none;
  }
  
  .fa-instagram , .fa-envelope, .fa-mobile{
    font-size: 30px;
  } 
  
  .float-right span{
    padding-right: 20px;
  }